@use "sass:math";

// インナー幅設定
$inner-pc: 1100;
$inner-sp: 540;

// 余白
$padding-sp: 20;
$padding-pc: 25;
// ※PC時：デザインカンプの余白の幅ではない。PC時は通常25pxで大丈夫！

// フォント設定
$base-font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
$second-font-family: "";

// フォントウェイト
$normal: 400;
$medium: 500;
$bold: 700;

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #111;
$white: #fff;
$orange: #ffcc00;
$blue: #0072c6; // 基本のフォントカラー、背景色など


//ブレイクポイント
$breakpoints: (
  sm: 600,
  md: 768,
  lg: 1024,
  xl: 1440,
);

//メディアクエリー
$mediaquerys: (
  sm: "screen and (min-width: #{map-get($breakpoints,'sm')}px)",
  md: "screen and (min-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (min-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (min-width: #{map-get($breakpoints,'xl')}px)",
);

// @include mq(){}で書くとブレークポイントが反映される（初期値はmd）
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}


